$Bebas: "Bebas", arial, sans-serif!important;
$HelveticaNeue: "HelveticaNeue", arial, sans-serif!important;

/*====================== HOME ==========================*/

$color-nav: #BCBCBC;
$color-title: #E96438;
$color-barra: #F1AE9D;
$color-psection: #6B6B6B;

/*=======================================================*/