.contact{
		padding-top: 4%;
    	padding-bottom: 6%;	
}

.about-us{
	.col-md-9{
		div{
			&:nth-child(2){
				padding-top: 4%;
				div{
					&:nth-child(2){
						padding-top: 0%;
					}
				}
			}
		}
	}
}



form{
	.form-group {
		input{
			/* color: yellow;*/
			@include placeholdercolor();
			&.form-control {
	    		width: 65%;
		    	height: 46px;
		    	background-color: #fff;
	    		background-image: none;
	    		border: 1px solid $color-title;
	   		 	border-radius: 0;
			}
		}
	}
	textarea{
		@include placeholdercolor();
		&.form-control{
			/*color: red;*/
			width: 100%;
			border-radius: 0;
			border: 1px solid $color-title;
		}
	}
	.btn-lg{
    	border-radius: 0;
    	margin-top: 7%;
    	color: white;
    	background-color: $color-title;
	}
}








