.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 35px;
}

.logo{
	h1{
		font-size: 46px;
		color: #F1AE9D;
		margin: 0; /*revisar*/
		span{
			color: $color-title;
		}
	}
}

#nav{
	a{
		font-size: 20px;
		color: $color-nav;
		padding-top: 20px;
    	padding-bottom: 0px;
		&:hover{
			color: #E75E3F;
		}
	}
}

.header_bottom_area{
	background-color: #F1AE9D;
	height: 60px
}

